@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos generales */

body{
    background-color: #000000;
}

/* header */

header{
    width: 90%;
    margin: auto;
}

header .contenedor{
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    align-items: center;
}
header .logo{
    cursor: pointer;
}
header .idiomas{
    display: flex;
}
header .idiomas p{
    margin: 0px 5px;
    cursor: pointer;
}
header .idiomas .idiomaEsp{
    color: rgba(200, 78, 137, 1);
    font-size: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.03em;
}
header .idiomas .idiomaEng{
    color: #fff;
    font-size: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.03em;
}
header .padreDerecha{
    display: flex;
    align-items: center;
}
header .padreDerecha .meInteresa{
    margin: 0px 25px;
    cursor: pointer;
}
header .padreDerecha .hamburguesa{
    cursor: pointer;
}

/* home */

main{
    width: 90%;
    margin: auto;
}
main .siguienteEstacion{
    margin: 180px 0;
}
main .siguienteEstacion h1 span{
    color: rgba(200, 78, 137, 1);
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 38px;
    line-height: 115%;
    letter-spacing: -0.05em;
}
main .siguienteEstacion h1{
    color: #fff;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 38px;
    line-height: 115%;
    letter-spacing: -0.05em;
}
main .siguienteEstacion a{
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 25px 0;
    border: 3px solid rgba(200, 78, 137, 1);
    padding: 5px 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 115%;
}

/* flecha del home */

main .flecha {
    display: flex;
    justify-content: center;
    margin: 120px 0;
    cursor: pointer;
}

/* trabajo HIGH */

main .trabajoHigh{
    margin-top: 60%;
}
main .trabajoHigh .padreLogoHigh{
    display: flex;
    justify-content: center;
    margin: 15px 0;
}
main .trabajoHigh .padreTextoHigh{
    display: flex;
    justify-content: center;
}
main .trabajoHigh .textoHigh{
    color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 115%;
    letter-spacing: -0.05em;
}
main .trabajoHigh .hashtagsHigh{
    color: rgba(185, 185, 185, 1);
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 115%;
    letter-spacing: -0.05em;
    margin: 10px 0;
}
main .padreLinkHigh{
    display: flex;
    justify-content: center;
}
main .trabajoHigh .padreLinkHigh a{
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 115%;
    border: 3px solid rgba(200, 78, 137, 1);
    padding: 3px 10px;
    margin-top: 7%;
    margin-bottom: 15%;
}
hr{
    border-color:rgba(48, 48, 48, 1);
}

/* trabajo MYFINCYCLE*/

main .trabajoCycle{
    margin-top: 10%;
}
main .trabajoCycle .padreLogoCycle{
    display: flex;
    justify-content: center;
    margin: 15px 0;
}
main .trabajoCycle .padreTextoCycle{
    display: flex;
    justify-content: center;
}
main .trabajoCycle .textoCycle{
    color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 115%;
    letter-spacing: -0.05em;
}
main .trabajoCycle .hashtagsCycle{
    color: rgba(185, 185, 185, 1);
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 115%;
    letter-spacing: -0.05em;
    margin: 10px 0;
}
main .padreLinkCycle{
    display: flex;
    justify-content: center;
}
main .padreLinkCycle a{
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 115%;
    border: 3px solid rgba(200, 78, 137, 1);
    padding: 3px 10px;
    margin-top: 7%;
    margin-bottom: 40%;
}

/* seccion no somos un discurso, somos soluciones */

main .tituloSoluciones h2{
    color: rgba(200, 78, 137, 1);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 115%;
    text-align: center;
    letter-spacing: -0.05em;
    margin-bottom: 10%;
}
main .tituloSoluciones p{
    color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 115%;
    text-align: center;
    letter-spacing: -0.05em;
    margin-bottom: 40%;
}

/* nuestros clientes */

main .tituloClientes h2{
    color: #B9B9B9;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 115%;
    letter-spacing: -0.05em;
    text-align: center;
    margin-bottom: 7%;
}
main .padreImgClientes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40%;
}

/* seccion hablemos */

main .tituloHablemos{
    margin-bottom: 40%;
}
main .tituloHablemos h2{
    color: #fff;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 115%;
    letter-spacing: -0.05em;
}
main .padreEnlance{
    display: flex;
    justify-content: center;
}
main .tituloHablemos a{
    text-decoration: none;
    color: rgba(200, 78, 137, 1);
    text-decoration-line: underline;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 115%;
    letter-spacing: -0.05em;
}

/* footer */

footer{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 10px;
}
footer .padreFooterIzq p{
    color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
}
footer .padreFooterDer p{
    color: #fff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 100%;
}

/* SERVICES */

section{
    width: 90%;
    margin: auto;
}

section h1{
    color: rgba(200, 78, 137, 1);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 115%;
    letter-spacing: -0.03em;
}

/* DISTINTOS SERVICIOS */

section .paquetes{
    display: flex;
    margin: 10px 0px;
}
section .paquetes .packages{
    color: rgba(201, 79, 160, 1);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.03em;
    padding: 5px;
}
section .paquetes .packages:hover{
    border-bottom: 1px solid #FFFFFF;
}
section .paquetes .web{
    color: rgba(88, 78, 200, 1);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.03em;
    padding: 5px;
}
section .paquetes .web:hover{
    border-bottom: 1px solid #FFFFFF;
}
section .paquetes .graphic{
    color: rgba(86, 163, 219, 1);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.03em;
    padding: 5px;
}
section .paquetes .graphic:hover{
    border-bottom: 1px solid #FFFFFF;
}
section .paquetes .development{
    color: rgba(86, 219, 195, 1);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.03em;
    padding: 5px;
}
section .paquetes .development:hover{
    border-bottom: 1px solid #FFFFFF;
}

/* PAQUETES */

/* diseño titulos de packages */
main h2{
    color: rgba(200, 78, 137, 1);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: -0.05em;
    margin: 10px 0px;
    padding: 0px 5px;
}
/* diseño packages */
main .paquete{
    border: 1px solid rgba(200, 78, 137, 1);
    background-color: rgba(24, 24, 24, 1);
    margin: 20px 0px 5px 0px;
}
/* diseño de texto de paquetes */
main .paquete .paqueteTexto{
    color: #FFFFFF;
    margin: 5px 0px 15px 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 115%;
    text-align: center;
}

hr{
    margin: 20px 0px;
}
/* diseño interesa de packages */
main .paquete .interesa{
    color: #000000;
    background-color: rgba(200, 78, 137, 1);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px
}

/* diseño web desing */
main .web{
    border: 1px solid rgba(88, 78, 200, 1);
    background-color: rgba(24, 24, 24, 1);
    margin: 20px 0px 5px 0px;
}

/* diseño interesa de web desing */
main .web .interesa{
    color: #000000;
    background-color: rgba(88, 78, 200, 1);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px
}
/* diseño titulos de web desing */
main .web h2{
    color: rgba(88, 78, 200, 1);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: -0.05em;
    margin: 10px 0px;
    padding: 0px 5px;
}

/* GRAPHIC DESIGN */

/* diseño graphic */
main .graphic{
    border: 1px solid rgba(86, 165, 219, 1);
    background-color: rgba(24, 24, 24, 1);
    margin: 20px 0px 5px 0px;
}
/* diseño interesa de graphic */
main .graphic .interesa{
    color: #000000;
    background-color: rgba(86, 165, 219, 1);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px
}
/* diseño titulos de graphic*/
main .graphic h2{
    color: rgba(86, 165, 219, 1);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: -0.05em;
    margin: 10px 0px;
    padding: 0px 5px;
}

/* DEVELOPMENT */

/* diseño development */
main .development{
    border: 1px solid rgba(86, 219, 195, 1);
    background-color: rgba(24, 24, 24, 1);
    margin: 20px 0px 5px 0px;
}
/* diseño interesa de development */
main .development .interesa{
    color: #000000;
    background-color: rgba(86, 219, 195, 1);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px
}
/* diseño titulos de graphic*/
main .development h2{
    color: rgba(86, 219, 195, 1);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 115%;
    letter-spacing: -0.05em;
    margin: 10px 0px;
    padding: 0px 5px;
}

/* WORK */

main .trabajos h1{
    color: rgba(200, 78, 137, 1);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 115%;
    letter-spacing: -0.03em;
}
main .trabajos h1 span{
    color: #FFF;
}
main .trabajos .imgHigh{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 130px;
    background: linear-gradient(180deg, #000000 0%, #1F1F1F 100%);
}
main .trabajos .imgHigh img{
    width: 109px;
    height: 59px;
}
main .trabajos h2{
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 115%;
    letter-spacing: -0.05em;
}
main .trabajos .textoTrabajos{
    display: flex;
    justify-content: space-between;
}
main .trabajos p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 115%;
    letter-spacing: -0.05em;
    color: #B9B9B9;
}
main .trabajos .textoStudy{
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 115%;
    letter-spacing: -0.05em;
    border: 1px solid rgba(200, 78, 137, 1);
    width: 130px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}
main .trabajos .textoTrabajos p span{
    color: rgba(200, 78, 137, 1);
}
/* imagen myfincycle */
main .trabajos .imgCycle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 130px;
    background: linear-gradient(180deg, #071E3D 0%, #0A2750 100%);
    margin: 30px 0px 5px 0px;
}
main .espaciadoHablemos{
    margin: 40% 0%;
}